[2017-03-06 01:08] timothysc opened #1 "Auto-build source to image for to push to a registry location"
We need to setup a turnkey build->test->deploy(dogfood) for this simple service.

/cc @kensimon

[2017-03-08 22:45] timothysc opened #2 "Support for Kafka forwarding"
User Story:

As a operator I would like to support forwarding to kafka queue for events.

Hard part is figuring out which client(s) make the most sense here:

https://github.com/Shopify/sarama
https://github.com/confluentinc/confluent-kafka-go
https://github.com/optiopay/kafka

[2017-03-08 22:50] timothysc opened #3 "Determine clean-ist-er integration points for cloud/AWS."
Options include:

push to log-rotates volume
push to s3
push to some SQL
...?

/cc @kstewart

[2017-03-10 17:41] kstewart commented on #3
@timothysc if we're primarily concerned about AWS, pushing to S3 would be my choice. Otherwise, my conservative self would say push to a log-rotates volume. Using a SQL store makes it easier to immediately do analysis but then you run the risk of picking the "wrong" store for some people (*I want it in PostgreSQL, not MySQL!*) and end up having to support multiple which can become a burden. Just m

[2017-03-13 13:11] webwurst opened #4 "Add JSON output format"
I would like to store the events in Elasticsearch, `JSON` output would be nice for this.

[2017-03-13 13:25] timothysc commented on #4
@webwurst Do you already have EFK stack in place, or do you want a direct push mechanism?

[2017-03-13 13:47] webwurst commented on #4
I have already a EFK stack, seeing this `glog` format in Kibana right now. So just `JSON` as output should be enough.

Maybe something based on [`libbeat`](https://github.com/elastic/beats) would also be nice with configurations options for index name or hashed ids to help with deduplication. But not sure and fine for me if added later :smile:

[2017-03-13 19:29] #4 closed

[2017-03-13 19:30] timothysc commented on #4
@webwurst done, and thx for the feedback!

[2017-03-13 21:55] timothysc commented on #3
Currently investigating https://aws.amazon.com/cloudwatch/ integration for both log and metric data.

[2017-03-14 13:14] timothysc commented on #1
I would like to have src -> image builds once we're ready to tag v0.1.0

[2017-03-15 17:45] timothysc opened #10 "Cleanup / unify upstream event handling and documentation."
As of today there is no unified mechanism for events that allows consumers to parse and make sense of.

[2017-03-16 16:29] webwurst commented on #1
I came up with a [`Dockerfile`](https://github.com/giantswarm/docker-eventrouter/blob/master/Dockerfile) for an [`automated build`](https://hub.docker.com/r/giantswarm/eventrouter/) on Docker Hub for the time beeing:
https://github.com/giantswarm/docker-eventrouter/

[2017-03-17 16:47] timothysc opened #11 "Add support for regex alerting."
At first it will just be email alerting on health, but the other end of the alert could be anything.

regex will be more useful once I unify upstream handling of events.

[2017-03-28 21:20] Nalum opened #12 "Prometheus Metrics"
As well as logging the event I think it would be worth while adding a metrics endpoint for Prometheus.

Do you have plans to do this?

I wouldn't mind contributing to get this off the ground if it was something you'd be happy to take a PR on.

[2017-03-29 22:38] timothysc commented on #12
What type of metrics are you looking to add?

[2017-03-30 07:29] Nalum commented on #12
Basically convert the kubernetes events into Prometheus metrics.

I think they would need to live along side any Prometheus metrics for the application itself, but right now I am not sure what metrics the app would have or need.

[2017-03-30 13:24] timothysc commented on #12
I think some metrics would be worth while to strike the right balance between what is noise and what is signal.

E.g. - having a error counter I think is absolutely worth having.

Having counters on successful events is already captured in other signals across the system so it seems like more noise to me, but if you want to patch for it, then go for it.

[2017-03-30 13:34] Nalum commented on #12
Yeah, that's more what I'm looking for. I want to be able to alert and chart on any problem events and I want to keep it within prometheus where possible. I'll try getting a start on it.

I guess the first and biggest question is should this be a `sink` or something that is there out of the box?

If it is a `sink` would you want a separate metrics endpoint for `eventrouter` (if there are any metri

[2017-03-30 14:23] timothysc commented on #11
https://github.com/heptio/eventrouter/issues/12 outlines it may make more sense to leverage Prom alerting here and expose metrics to alert on.

[2017-03-30 14:24] timothysc commented on #2
Verdict on this for me is: https://github.com/Shopify/sarama

Easily has the largest community mind-share and is native.

[2017-04-03 12:05] Nalum commented on #12
Are these values okay with you for the prometheus opts?
[code]
Maybe something more descriptive for the name part?

[2017-04-03 13:33] timothysc commented on #12
I think [event-type] makes more sense to me.

[2017-04-03 13:57] Nalum commented on #12
Yeah, it made more sense to me looking at them for a little bit :)

I'm also looking at these fields as the label names:

[code]

[2017-04-03 19:25] Nalum commented on #12
Just testing those out and the cluster name does not appear to be set on any of the events in my cluster.

[2017-04-04 19:26] timothysc commented on #12
merged.

[2017-04-04 19:26] #12 closed

[2017-04-04 19:30] timothysc commented on #11
Thanks to @Nalum I can close this one out!

Just leverage prom-metrics for event alerting now!

/cc @jbeda @kensimon - FYI.

[2017-04-05 15:53] rosskukulinski opened #16 "Support for ElasticSearch Forwarding"
Not unlike #2, but for ElasticSearch for archival and alerting.  In the past when I've worked with a vendor like Datadog, I've asked for [similar visibility](https://github.com/DataDog/dd-agent/issues/2838) into the Events stream.  Now that most of the systems I've got deployed leverage ElasticSearch & X-Pack for logging & alerting, I've lost visibility into the Kubernetes event stream, especially

[2017-04-05 17:10] timothysc commented on #16
So current glog-sink actually pre-supposes that an EFK stack is running.  The logs are formatted for easy indexing in ES.

https://github.com/heptio/eventrouter/blob/master/sinks/glogsink.go#L27

Or you want a specific forwarder without the supposition?

[2017-04-05 17:42] rosskukulinski commented on #16
oh fabulous! I'm happy with that.  Does the eventrouter lose any events if the Pod its running in is killed?

[2017-04-05 17:56] timothysc commented on #16
Currently yes, but I planned on addressing HA ~ 1.7.

https://github.com/heptio/eventrouter/blob/master/yaml/eventrouter-deployment.yaml#L22

[2017-04-05 18:21] rosskukulinski commented on #16
👍 thanks @timothysc. I don't personally have a need for this issue anymore, but I leave it to your discretion whether someone else might :)

[2017-04-05 18:23] timothysc commented on #16
Actually I'll leave this open to update docs, so it's clear for other folks.

[2017-04-06 14:30] timothysc commented on #16
updated: https://github.com/heptio/eventrouter/commit/4f426f7c28c14237f38b2cbf2e336914456ed2d9

closing.

[2017-04-06 14:30] #16 closed

[2017-04-18 22:28] cemo opened #17 "Detecting patched deployments"
I am fairly new to k8s land and trying to get our patched deployments. What is the correct way to get deployment updates? I am actually using edit command to patch deployments but could not find an exact fit in prometheus endpoints of eventrouter. I have just seen `heptio_eventrouter_normal{involved_object_kind="ReplicaSet"}` and `heptio_eventrouter_normal{involved_object_kind="Deployment"}` . But

[2017-04-19 19:01] timothysc commented on #17
TBH I'm struggling to understand your question.?.?

Is this a general kubernetes question?  If so, it's described here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

[2017-04-24 18:51] rosskukulinski opened #18 "Public Image?"
As an open-source user, I would expect to be able to use the `gcr.io/heptio-images/eventrouter:v0.1` image that is referenced in the `yaml` directory.  At this time, it appears to be a private repo which means I must build, deploy, and manage my own image.

[2017-04-24 18:56] timothysc commented on #18
Yes, we wanted to setup our auto-builds.
I'll enqueue for this week to get the 1st image out there.

[2017-05-03 17:50] timothysc commented on #18
k, auto builds should be up.

[2017-05-03 17:50] #18 closed

[2017-05-03 17:51] timothysc commented on #10
Going to close this as we'll work upstream on this issue.

[2017-05-03 17:51] #10 closed

[2017-05-03 17:52] timothysc commented on #1
Autobuilds now post to gcr.io/heptio-images/eventrouter

[2017-05-03 17:52] #1 closed

[2017-05-03 17:53] timothysc opened #22 "Create a helm chart for event router"
see subject.

/cc @rosskukulinski @kensimon

[2017-05-05 18:42] baldwinSPC commented on #22
@timothysc @rosskukulinski @kensimon can anyone grab this issue or ...? we can knock this out pretty fast.

[2017-05-05 18:44] rosskukulinski commented on #22
@baldwinSPC I need a break from reading training materials and have been looking for an excuse to learn Helm.  I can take it.

[2017-05-05 18:44] timothysc commented on #22
@rosskukulinski the yaml in the repo probably needs a minor muck to be a chart.

[2017-05-05 18:45] rosskukulinski commented on #22
My thought exactly - shouldn't be too many templated parameters.

[2017-05-05 18:49] baldwinSPC commented on #22
cool. happy to assist where we can.

[2017-05-05 18:50] rimusz commented on #22
@rosskukulinski ping me if you need any assistance/help, happy to help there

[2017-05-05 20:21] rosskukulinski commented on #22
Draft here: https://github.com/rosskukulinski/charts/tree/eventrouter

I still need to cleanup the README - I'll tackle that tomorrow and open a PR for feedback.

[2017-05-05 20:31] timothysc commented on #22
thx @rosskukulinski !

[2017-05-06 00:19] ajohnstone opened #23 "Is there a kibana dashboard you can share for this?"
Is there a kibana dashboard you can share for this?

[2017-05-08 01:03] timothysc commented on #17
No word back on issue... closing.

Feel free to reopen if needed.

[2017-05-08 01:03] #17 closed

[2017-05-08 01:03] timothysc commented on #23
/cc @kensimon

[2017-05-08 01:09] timothysc commented on #3
going to close this in lieu of http://docs.heptio.com/content/tutorials/elastic.html .

[2017-05-08 01:09] #3 closed

[2017-05-08 15:31] rosskukulinski commented on #22
@timothysc @rimusz @baldwinSPC Feedback welcome: https://github.com/kubernetes/charts/pull/1023

[2017-05-26 17:04] devth opened #24 "Feature request: InfluxDB Sink"

[2017-07-27 18:17] chancez opened #26 "Why not eventer from the heapster project?"
I'm wondering if you are all aware of the `eventer` tool which does the same things as eventrouter, but is part of the heapster project, https://github.com/kubernetes/heapster/blob/master/events/eventer.go. It's got good support for various sinks, etc. I wonder if perhaps there could be efforts to collaborate instead of rebuilding the same functionality twice.

I don't work on eventer, but use it

[2017-07-27 20:10] timothysc commented on #26
Eventrouter was glue to drive further discussion, much of which is currently happening upstream.

The reason it was done separately, was b/c eventer is tied directly to heapster vs. a separable component.  We knew this from the beginning... and we also used this to drive other initiatives and expose flaws in the current traceability model.

Right now it sits as a very minimal tool that is useful t

[2017-07-27 20:10] #26 closed

[2017-08-11 16:11] webwurst opened #28 "RBAC rules needed"
Just guessing, but I am seeing this on a fresh `kubeadm` cluster with `v1.7.3`:
[code]
Didn't check more, plan to do later.

[2017-08-11 16:35] timothysc commented on #28
#27 should fix, let me know if you still have issues, and will reopen.

[2017-08-11 16:35] #28 closed

[2017-08-11 20:33] webwurst commented on #28
Great, works! Thanks a lot! :smiley:

[2017-10-10 13:50] timothysc opened #29 "Update client and container"
The client and container need a refresh to match all the other tools.

[2017-10-10 21:37] timothysc commented on #29
Also update the doc on the main page whilst I'm at it.

[2017-10-24 22:23] ahmetb opened #31 "Currently does not work with GKE from client-side"
If kubeconfig contains "gcp" auth provider, it won't work because

    import _ "k8s.io/client-go/plugin/pkg/client/auth/gcp"

and its dependencies are needed.

[2017-10-25 04:11] ahmetb opened #32 "Provide example http sink server"
I think there should be an example httpsink receiver server included within the project for demo purposes, just like the stdout or glog mode.

I might take a look at this sometime soon.

[2017-10-25 04:17] ahmetb opened #33 "http sink receiving invalid sequence unparsable by rfc5424"
I have a fairly simple http sink receiver side implementation below. Very frequently it's failing to parse the incoming sequence using [`rfc5424.Message.ReadFrom`  method](https://godoc.org/github.com/crewjam/rfc5424#Message.ReadFrom).

The error from ReadFrom method reads:

    strconv.Atoi: parsing "\n807": invalid syntax

All of the source code:

[code]

It's fairly easy to replicate. I simply

[2017-10-25 20:46] ahmetb commented on #33
It sometimes gets another sequence too:

    strconv.Atoi: parsing "\n788": invalid syntax

[2017-10-25 21:00] ahmetb commented on #33
I attached a simple implementation that reproes at #35. Once you run the container, expose it as Service and configure the httpSinkUrl, you can run `kubectl run nginx --image=nginx` and see it crash.

[2017-10-25 21:07] ahmetb commented on #33
It just occurred to me that (not sure why it took so long, I guess I thought `\n` is a form of `\x...` notation) this is because the parser is not expecting `\n` but the messages int the POST request is line-separated. (i.e. `\n788` is new line, and the next message is length `788`).

[2017-10-25 21:21] ahmetb opened #36 "Add some debug logs to successful httpsink requests"
Currently -v=10 doesn't report anything about what the httpsink is up to as long as it doesn't fail. I think adding some logs indicating "a request is made, N messages, M bytes sent" would be nice in verbose mode.

[2017-10-26 16:41] #33 closed

[2017-10-26 18:01] #32 closed

[2017-11-22 22:43] timothysc opened #37 "Go through cleanup and regen"
I need to run through and update the client deps and refresh the pod.

[2018-01-08 22:28] timothysc commented on #37
Fixed by #40

[2018-01-08 22:28] #37 closed

[2018-01-08 22:29] timothysc commented on #24
PR's are always welcome, but time is limited.  If you have a PR I will happily review, but closing this backlog issue atm.

[2018-01-08 22:29] #24 closed

[2018-01-08 22:30] timothysc commented on #22
Closing.

[2018-01-08 22:30] #22 closed

[2018-01-08 22:31] timothysc commented on #2
This was merged, but I need to validate.

[2018-01-08 22:31] #2 closed

[2018-01-08 22:32] timothysc commented on #23
There is not that I'm aware of, but happy to entertain a PR on this.

[2018-01-08 22:32] timothysc commented on #29
Done in #40

[2018-01-08 22:36] timothysc opened #41 "Support Events v2 api if/when it becomes available."
I don't know if anyone is working on this upstream?

/cc @gmarek

[2018-01-08 22:41] timothysc opened #42 "Create a single .yaml file you can apply."
I'll use this for testing tomorrow.

[2018-01-09 00:02] coffeepac commented on #22
in case anyone comes looking, we wrote a chart for this:  https://github.com/samsung-cnct/chart-eventrouter

[2018-01-09 09:02] gmarek commented on #41
@yastij was interested in helping with that. Sadly I can only offer review time in my current role:/

[2018-01-09 10:33] pieterlange commented on #23
I have some dashboards for this, i'll see if i can export them. I'm using data from the stdout (json) sink.

[2018-01-09 20:14] yastij commented on #41
@timothysc - yup I'm interested in helping on this, I'll try send a WIP for the new `#eventf()` implementation. the issue: kubernetes/kubernetes#56694

@gmarek - thanks for the help

[2018-01-10 22:35] timothysc commented on #41
awesome!

xref: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md

[2018-01-10 22:50] #42 closed

[2018-01-10 23:42] timothysc opened #44 "Update build/push jiggery for :latest updates on this container."

[2018-01-10 23:43] #29 closed

[2018-01-10 23:43] timothysc opened #45 "Fixup tests and vet build"

[2018-01-11 17:24] timothysc opened #46 "Support active<>passive HA using config map locking and initialized gating."
This is neat-o work I did upstream that you can leverage.  Poke me when you're ready.

[2018-01-11 17:32] timothysc commented on #46
This may not make it this labs week, but it'll be fun.

[2018-01-11 19:42] timothysc opened #48 "Add travis build and test."
@liz this repo could use ~= sonobuoy cleanup.  If not this cleanup cycle, next one.

[2018-01-11 20:28] liztio commented on #48
@timothysc it looks like there aren't any unit tests written for event router. So I guess we're just testing if it builds?

[2018-01-11 22:51] timothysc commented on #31
Is this still an issue?
we only submit via .yaml now

[2018-01-11 22:52] timothysc commented on #45
done.

[2018-01-11 22:52] #45 closed

[2018-01-11 22:52] timothysc commented on #44
done.

[2018-01-11 22:52] #44 closed

[2018-01-11 22:54] ahmetb commented on #31
Yeah I think it is still an issue for those doing a `go build` and running eventrouter on their laptops.

This is because when client-go detects active kubeconfig is an gcp credential, it knows that it should run `gcloud` command to retrieve a fresh token.

However, if users create a google service account key and deliver to the eventrouter container with `GOOGLE_APPLICATION_CREDENTIALS` env var a

[2018-01-12 14:43] timothysc commented on #31
Yeah I switched the default build+deploy+to be containerized by default to make it clear.

I'll close this one, thx for the feedback!

[2018-01-12 14:43] #31 closed

[2018-01-12 17:57] #48 closed

[2018-01-17 13:34] sokoow opened #52 "File output sink?"
Hi All,

Very cool project. One thing I'd find useful would be a file sink, so I can then follow files in Splunk. Would this be a much to do ? Also, if you've no time, I'd like to write it - how do I even start ?

[2018-03-01 17:16] swade1987 opened #55 "Remove the use of `latest` from the image tag."
I would recommend removing the use of `latest` from [here]( https://github.com/heptiolabs/eventrouter/blob/master/yaml/eventrouter.yaml#L74).

Makes sense to reference `v0.2` for the time being.

[2018-03-05 18:34] SEJeff commented on #52
@sokoow you can just have splunk hoover up `/var/log/containers/eventrouter*`. We do this with our on-premise splunk + k8s and it works just fine. We use the glog sync and it logs to stdout for the eventrouter logs.

[2018-03-16 18:33] f0 opened #56 "Easier Elasticsearch Indexing"
Currently the sink output looks like this:

`I0316 18:06:16.068912       7 glogsink.go:42] {"verb":"UPDATED","event":{"metadata":{"name":"curator-1521158460-pn977.151c3d919e2cc527","namespace":"es-extern",....`

is there a way to remove the `I0316 18:06:16.068912       7 glogsink.go:42] from the logline , this would make the indexing in  Elasticsearch  much easier

[2018-03-17 13:41] pieterlange commented on #56
use the stdout sink.

[2018-03-17 17:19] f0 commented on #56
@pieterlange  thx

[2018-03-17 17:19] #56 closed

[2018-05-14 15:25] Godley opened #57 "JSON namespacing"
Is there any way to configure the output of eventrouter so that it namespaces events, e.g wrap every output in `{'eventrouter': {<all fields in here>}}`?

We manage our elasticsearch indexes using a company-wide index template and having it properly namespaced (preferably in a configurable way, i.e we'd be able to pass in what it wraps the json object in) would help to ensure the event related fie

[2018-05-14 15:47] pieterlange commented on #57
FWIW i let the eventrouter log to stdout (which is captured by fluentd) and then i can namespace on the runtime environment.

[2018-05-14 21:49] Godley commented on #57
That’s interesting, we have the same setup so guess I can get fluentd to do some magic there.

[2018-05-15 13:10] Godley commented on #57
having discussed this internally we decided the least hacky way to handle this was to attempt to add it ourselves - don't want to change the global fluentd + other options involved copious bash hackery.

[2018-05-16 13:47] #57 closed

[2018-05-17 09:43] bjornmagnusson opened #59 "Helm Chart available?"
Is there any helm chart available for this? Would be very useful

[2018-05-17 13:42] timothysc commented on #59
@bjornmagnusson , I believe @rosskukulinski created one, but I don't know where the PR ended.

[2018-05-17 19:49] rosskukulinski commented on #59
My original PR timed out due to ETOOMANYTHINGS (https://github.com/kubernetes/charts/pull/1023), but it looks like someone submitted a new PR two weeks ago: https://github.com/kubernetes/charts/pull/5390

[2018-06-01 19:50] bjornmagnusson commented on #59
Looks like it has been merged now :)

[2018-06-01 19:50] #59 closed

[2018-06-18 14:21] hroumani opened #60 "Duplicate events due to re-listing on eventrouter restart (update/crash)"
Hello,

If the eventrouter controller were to be updated and/or crashes I believe it will re-drive the list operation on restart and correspondingly resend all the existing events (mind you by default k8 deletes events every hour I believe) ?

Assuming this is the case, while ideally the consumers are idempotent and can tolerate an at least once delivery semantic, it could potentially generate a l

[2018-06-18 15:12] timothysc commented on #60
Yes, I wanted to add a resource version field to a config map.  The problem with that is finding the right write frequency.  If I write on every event that would also be too spammy.

[2018-06-18 15:50] hroumani commented on #60
Thanks @timothysc !  Trying to grok that though - by version do you mean the config map would contain a tuple <eventid,last_published_version> for every event and you would check that before publishing to your sink ?

Assuming that's an accurate description (I apologise if I misinterpreted it) that would potentially be a lot of data to store in the config map.  Would the annotation approach/label

[2018-06-18 16:11] timothysc commented on #60
resource version of the event, and apply that to the next watch.

[2018-06-26 12:12] queimadus commented on #52
How do you guys deal with files in `var/log/containers` being symlinks (to `/var/log/pods` and to `/var/lib/docker/containers`)?

@SEJeff do you mount all these directories inside your splunk container for it to hoover?

[2018-06-27 03:53] SEJeff commented on #52
@queimadus we simply install and config splunk in the host operating system without a container. It would be trivial enough to volume mount those directories into a container if you're running on a host operating system such as Fedora CoreOS / Container Linux / RHEL Atomic Host however.

[2018-07-24 14:00] ggarnier opened #61 "Support to customize the output"
It would be nice if we could customize the event fields for the output. Maybe it could accept a Go template for this.

[2018-09-03 06:02] alok87 commented on #3
@timothysc ES kibana setup is expensive setup with so many events getting stored. Is not it good to have s3 solution also.

[2018-09-03 10:27] alok87 opened #63 "[AWS Sink] Add s3 as a sink"
## What?
Solution with EFK is good but expensive.
Need to store events in s3 and load in redshift and view it from there.

[2018-09-04 12:03] alok87 commented on #63
@timothysc I am working on making the s3 sink for it

[2018-09-04 14:18] timothysc commented on #63
@alok87 awesome! thank you for your contribution!

[2018-09-05 12:35] alok87 commented on #63
@timothysc PR is ready for review - https://github.com/heptiolabs/eventrouter/pull/64

[2018-10-10 20:44] jonmoter commented on #60
Regarding frequency, could you make that a config flag or ENV var with a sensible default?  Like write a checkpoint every N seconds or N events, and right at termination?

Seems like that's a trade-off between the number of extra ConfigMap updates you want to do, vs how much duplicate data you're willing to tolerate if the process crashes without cleaning up.

[2018-12-10 16:51] mikebryant opened #66 "Would it be possible to have a new release?"
We've got some policies that don't allow us to use :latest, it would be useful if there was a new release. (In particular including #58).

While we can pin to the sha hash, :latest moves on that can be garbage collected by the registry.

[2018-12-20 08:55] edgar1992 opened #67 "eventrouter produces duplicate events once in a while"
use glogsink and see logs as below every 10 minutes or so.
however, no new events produced and no change to events existed.
in the log below, contents of new events and old events are same, i cannot find any update

`I1220 08:50:11.664885       6 glogsink.go:42] {"verb":"UPDATED","event":{"metadata":{"name":"eventrouter-6bc87c6f9d-8glzg.1571fd5c758fb587","namespace":"kube-system","selfLink":"/api/

[2018-12-20 14:37] mattkelly commented on #67
This would be fixed by #53 - not sure of the status on getting that in, though (I'll rebase it when I get a chance).

[2019-01-02 17:15] timothysc commented on #66
I'll poke @rosskukulinski about timing on a refresh run.

[2019-01-10 22:49] rosskukulinski commented on #66
@timothysc how much work is it to cut a release?

[2019-01-11 09:52] kvolkovich-sc opened #68 "Wrong JSON output escaping"
I noticed that fluent-bit's json parser can't parse some of eventrouter's log messages.

**Eventrouter config**

[code]

**Eventrouter stdout sample**

[code]

*If I try to parse it, I got this*

![screen shot 2019-01-11 at 12 47 31 pm](https://user-images.githubusercontent.com/24652543/51026256-29655180-159f-11e9-8720-8117df36bc26.png)

[2019-01-31 07:49] tomkerkhove opened #69 "Provide support for CNCF Cloud Events"
Are there plans to provide a sink for [CNCF Cloud Events](https://cloudevents.io/)?

Given the breath of cloud providers that now support this it would be great to be able to use this as a sink.

[2019-01-31 15:51] rosskukulinski commented on #69
Hi @tomkerkhove.  This is the first request we've received to add that as a sink - I don't think we're opposed to adding it but we don't currently have any engineering resources assigned to the projects in `heptiolabs`.  If you or someone else has time, we'd consider a pull request adding that functionality.

[2019-02-01 02:15] alexivkin opened #70 "Sink documentation"
Could someone add docs into README.md on how to configure sinks?
Preferably in a form that k8s noobs could use

[2019-07-18 04:44] prasenforu opened #75 "Webhook sink"
Nice project !!

Any webhook sink is available ?

[2019-07-18 13:17] timothysc commented on #75
No, but it's pretty easy to make one.

[2019-07-18 15:15] prasenforu commented on #75
I am pure infra.

Looking such enhancement.

:)

[2019-08-13 14:05] alejandrodnm opened #77 "About contributing a NewRelic sink"
Hello, I work a New Relic as part of the K8S monitoring team, we would like to contribute a sink that pushes data to our platform, this issue is just to start the conversation and let you know what we have in mind and see if our plans fit the project.

The sink will be pretty simple, it will use the [newrelic sdk](https://github.com/newrelic/infra-integrations-sdk) to push data to an infrastructur

[2019-08-13 14:12] chuckha commented on #77
@timothysc I assigned this to you to make sure it's on your radar. Haven't been following this project much so I'm not sure who the maintainer currently is but I know you can help out here.

[2019-08-13 14:47] timothysc commented on #77
I'm ok with it, but please for the love of all that is good in the universe please ensure you don't have massive import dependency sprawl.  Lately every time someone wants to create a new sink, which is really a small piece of code, I get huge import PRs.

[2019-08-13 16:11] alejandrodnm commented on #77
thanks for the quick response @chuckha @timothysc and thanks for the green light, we are eager to contribute :)

@timothysc we'll try to keep it the imports low, I saw the Azure PR D:

![Screenshot 2019-08-13 at 18 10 36](https://user-images.githubusercontent.com/5297542/62957760-ae467100-bdf5-11e9-8cc5-99a2ffcfd3be.png)

[2019-08-14 23:03] eytan-avisror opened #78 "S3Sink - should support instance-profile for bucket access"
Currently the s3sink interface panics if s3SinkAccessKeyID / s3SinkSecretAccessKey are not provided.

[code]

Ignoring the fact that this should probably use a secret vs. a configmap to store this secret, for my use-case I need to use an instance profile to access the bucket.

This will not work with current code as it simply panics.

Suggested change:
- if key/secret not provided, check if instan

[2019-08-14 23:16] eytan-avisror opened #79 "Support for Multiple Sinks"
Readme mentions one of the goals of this project is `Support for multiple sinks should be configurable`, but looking at the code I don't see that it currently supports using multiple sinks.
It would be good to support this, for example stdout + s3sink.

the configuration json object should parse a list instead of a string, for example:

[code]

Am I missing something? is this currently somehow pos

[2019-08-16 13:00] jorikvdwerf commented on #77
Hey @timothysc  & @chuckha

As my colleague @alejandrodnm already mentioned, we would like to contribute to this project!

Before doing so we have some questions about whether our intended changes are OK with you / Heptio.
In short, we would like to make the following changes to the repo:

1. Instead of dep, use go modules, which has been accepted as the community standard
2. Use a multistage Dock

[2019-08-20 18:01] mtougeron opened #81 "constantly crashing in 1 cluster"
I'm getting the following error in one of my Kubernetes clusters. It works fine in other clusters of the same version & configuration. I have no idea how to reproduce this; it just keeps happening in this one cluster. It happened when my cluster was running k8s `v1.13.7` and still happens after upgrading to `v1.14.6`. All other clusters of the same k8s versions works fine.

Does anyone have any su

[2019-08-30 17:12] alejandrodnm commented on #77
Hi, we have decided to go on a different route, either way, thank you very much for being open to our colaborations.

Cheers.

[2019-08-30 17:12] #77 closed

[2019-09-03 06:42] e11it commented on #68
`glogsink` has the same issue.

[2019-09-10 04:57] vigith opened #82 "modernize eventrouter"
We internally rely on eventrouter to log events to stdout, which is then relayed to our central logging platform. Then came a requirement that
we have to publish the events to couple of other sinks for more processing (streaming and big data). As we looked into the source code to
contribute/extend we felt it would be great to make following core changes too.

Please let me know whether the followi

[2019-09-11 07:34] jia2 commented on #78
s3sind support for instance-profile is appreciated.

[2019-09-13 21:35] vigith commented on #78
I will try to include this in #82

[2019-09-23 16:43] johnSchnake opened #85 "Example no longer works due to k8s API changes"
See https://kubernetes.io/docs/setup/release/notes/#api-changes

I tried the example in the README.md and got:
[code]

This was on a v1.16.0 cluster.

[2019-09-27 19:02] #85 closed

[2019-10-11 21:39] janzantinge opened #88 "Event container/fieldPath prometheus label"
I have a need to identify metrics involving init containers and am wondering whether it makes sense to add the `event.InvolvedObject.FieldPath` as a label in the prometheus counter metrics.

This would allow me to match the label value against a regex (eg. `heptio_eventrouter_warnings_total{involved_object_fieldpath=~".*init.*"`)

If this makes sense, I can easily PR it.

[2019-10-12 02:53] yejingchen opened #89 "Prometheus metrics doesn't report events even when 'enable-prometheus' is true"
After commit 6a815be, the http `/metrics` interface gives no kubernetes events either with `enable-prometheus` set to `true` or not specified at all. Events are indeed recorded because it is logged in glog.

After fast skimming I think the `viper` imported in `eventrouter.go` is not the same instance in `main.go` so the config doesn't apply. But since I don't know about go I maybe wrong.
https://g

[2019-10-23 21:03] sukhong opened #92 "Can we have the latest master as a new release?"
The latest release (v0.2) seems to be a little outdated, and we would like to have the latest master as v0.3 if possible.

[2019-10-25 20:57] janzantinge commented on #88
kube-state-metrics seems to provide what I need.

[2019-10-25 20:57] #88 closed

[2019-11-04 06:11] ZP-AlwaysWin opened #93 "How to push events to Kafka"
How to push events to Kafka?
How yaml files should be configured。Can I have a configuration template
？

[2019-11-04 18:52] blakeroberts-wk commented on #92
@johnSchnake is this possible?

[2019-11-07 21:24] jselleck commented on #81
FYI
I ran into this while using Argo Events on the same cluster.  In my case LAST SEEN was <unknown>, TYPE was set to one of ["OperationSuccessful"."StateChange"], reason was a short bit of descriptive text, The object on the event for these was sensor/<sensorname>, and Message was empty.

Since we're not tracking with prometheous I set "enable-prometheus": false in the config.json

It would be ni

[2019-11-07 21:45] cyrus-mc commented on #89
@yejingchen I pushed a quick fix for this.

The issue is that the init function is called before loadConfig (which sets enable-prometheus). Therefore the config value is not found and the if statement evaluated false. I moved what was in the init function to the NewEventRouter function.

[2019-11-07 22:50] KouriR commented on #81
This looks like it was fixed via https://github.com/openshift/eventrouter/pull/11.

[2019-11-08 18:48] uthark commented on #67
I'd happy to see this fixed. #53 looks like a reasonable fix.

[2019-11-09 13:19] johnSchnake commented on #92
Yes; sorry for the delay. I will work on getting a release out early this coming week.

[2019-11-19 17:37] johnSchnake commented on #52
@SEJeff thanks for the comments on this. @sokoow have you gotten what you needed? Closing but feel free to reopen if not.

[2019-11-19 17:37] #52 closed

[2019-11-19 17:40] johnSchnake commented on #93
Check the manual tests for kafka here https://github.com/heptiolabs/eventrouter/tree/master/tests/kafka and see if that answers your questions. Will close if no further follow up questions.

[2019-11-19 17:42] johnSchnake commented on #92
So two PRs are outstanding and one of them is a bugfix I'd like to get in before a release is cut. See #94 and #96 .  Will try and wait to see if those can get in without delaying this much further.

[2019-11-26 23:18] sravankasu opened #97 "Pushing events to AWS Elasticsearch."
What is the best way (if any) to push events to AWS Elasticsearch?

[2019-12-05 21:30] #89 closed

[2019-12-16 11:42] Vlaaaaaaad opened #99 "AWS SNS sink"
A SNS sink would be awesome! While S3 -> SNS is an option, I'd prefer direct SNS as not to deal with missing S3 events and S3 file cleanup.

Is there a reason why a PR adding an SNS sink would be rejected? Any concerns regarding SNS?

I kind of want to write it myself so I am creating an issue first 😄 I hope I'll have this done by the end of January at the latest.

[2019-12-16 14:02] Vlaaaaaaad commented on #99
Looks like [opsgenie/kubernetes-event-exporter](https://github.com/opsgenie/kubernetes-event-exporter) already [supports SNS](https://github.com/opsgenie/kubernetes-event-exporter/blob/master/pkg/sinks/sns.go) so I might not actually work on this and use that instead.

This happens when I don't do enough research 🤦‍♂

[2019-12-16 16:06] blakeroberts-wk commented on #92
@johnSchnake any update on the schedule of the next release?

[2019-12-19 13:53] #93 closed

[2019-12-19 13:56] ZP-AlwaysWin opened #100 "Pushing events to Elasticsearch"
hi @johnSchnake @timothysc
How to push event to es cluster directly？

[2019-12-19 15:58] timothysc commented on #100
It creates structured logs that are easily indexed by elastic-search OOTB.

[2019-12-19 15:58] #100 closed, assigned to nobody

[2019-12-20 16:23] johnSchnake commented on #92
Released! Sorry it took so long to get that out.

[2019-12-20 16:23] #92 closed

[2020-01-15 11:37] stefankuksenko opened #103 "High memory consumption"
Eventrouter is constantly increasing the amount of memory consumed.
In one of our cluster after one month eventrouter uses near 8Gb of memory.

It is the output of top command in eventrouter pod (containter)
[code]
I will configure limits. But what will happen if eventrouter reaches the memory limit? Will it work correctly. And why does it use so much memory?

[2020-01-15 15:21] timothysc commented on #103
So something doesn't seem right.
@johnSchnake

[2020-01-23 10:56] stefankuksenko commented on #103
still have this problem in all our clusters in GKE.
When i limit memory usage for eventrouter pod memory usage increases during a time, when memory rests to limit pod restarts with "OOMKilled" reason.
There are 247 restarts during seven days.
[code]

[2020-02-13 07:27] youyongsong commented on #46
hello, how is the progress of this ha supporting?

[2020-02-13 15:10] chuckha commented on #46
I noticed I have been assigned for two years and do not plan on working on this, my priorities lie elsewhere. Please feel free to take this issue if you'd like to.

[2020-02-26 12:33] Icedroid opened #106 "go mod dep error"
$ go mod tidy
github.com/heptiolabs/eventrouter/sinks imports
        github.com/Azure/azure-event-hubs-go/v2 imports
        github.com/Azure/go-autorest/autorest/azure: ambiguous import: found github.com/Azure/go-autorest/autorest/azure in multiple modules:
        github.com/Azure/go-autorest v12.0.0+incompatible (/Users/wiwen/go/pkg/mod/github.com/!azure/go-autorest@v12.0.0+incompatible/autore

[2020-03-26 07:38] marckamerbeek commented on #103
Same problem here...

[2020-04-15 14:38] alitoufighi commented on #70
Hi everyone.
Is there any draft or progress about this?
I'd like to contribute.

[2020-04-15 15:57] alok87 commented on #70
https://github.com/heptiolabs/eventrouter/blob/master/yaml/eventrouter.yaml#L45-L48
not the docs but you need to configure this

[2020-04-15 16:08] alitoufighi commented on #70
@alok87  Thanks, but I wanted to forward the events to an external endpoint. So I tried [this](https://github.com/heptiolabs/eventrouter/blob/master/config.json#L8), but nothing was sent.
Even I don't know what `glog` was supposed to mean.

[2020-04-16 14:08] chinmaya-n opened #110 "HTTP Sink with Token Authorization"
I'm unable to find if the HTTP sink supports Token Authorization. I tried to look into the [config.json](https://github.com/heptiolabs/eventrouter/blob/master/config.json) but there is only sink URL option and buffer size.

Token Authorization helps with frameworks like Splunk. Please let me know if I missed something and it is already supported.

Thanks.

[2020-04-16 14:23] chinmaya-n commented on #110
I looked into the [httpsink](https://github.com/heptiolabs/eventrouter/blob/master/sinks/httpsink.go) code and there does not seem to be any header information included for Authorization purposes. I think it is fair to assume that eventrouter is not capable of this.

If you don't mind a beginner in Golang to give a PR for this, I can give it a try.

[2020-04-17 21:30] cpitstick-argo opened #111 "Please merge event filtering PR"
This PR was closed without a review a few years ago: https://github.com/heptiolabs/eventrouter/pull/54

Event filtering is important for using this system at scale otherwise the data may overwhelm Prometheus or whatever sink is used to process the data from it.

Could you please resurrect this PR and merge it? Thanks!

[2020-04-28 20:40] cpitstick-argo opened #113 "syncInterval update event fix for duplicate/ghost events"
The code that processes Kubernetes events regularly runs a synchronization that causes every single event to trigger an update in a cluster periodically. However, these updates contain no new information. They are effectively doubled up.

When this happens, eventrouter will mark duplicate events, and events that have already been processed will appear as "ghosts" or "echoes of the past." This can

[2020-06-18 08:02] xamebax commented on #70
@alitoufighi,  `glog` is a Go logging package with a specific logging format. If you want to send logs to an external endpoint, it seems you need to set `http` as the sink instead of `glog` in addition to setting `httpSinkUrl` https://github.com/heptiolabs/eventrouter/blob/733f06f325c002f80da9a5045eaa060766c9c160/sinks/interfaces.go#L44-L60

If you have filebeat/logstash in your cluster, you can u

[2020-06-25 06:28] wiegandf opened #114 "Logs are still written to file system (with logtostderr=true)"
With logstderr set to true, there will still be some logs written to the filesystem. Eventrouter glog are correctly using stderr. I guess it is a dependency that writes the logs to /tmp folder:

[code]

The above error happens in a custom distroless image. But I also verified the logs appear with the default eventrouter. Though, they can be written because /tmp folder exists.

[2020-08-28 17:00] grosser opened #116 "Run from distroless / scratch ?"
would love to change from alpine to `FROM gcr.io/distroless/static:latest` and remove the `"/bin/sh", "-c"`
is there any reason these exist ?

https://github.com/heptiolabs/eventrouter/commit/2888f1920fbb2cd061bdd1336b3952bcbbebb544 adds the /bin/sh but idk what that commit message means ...

@timothysc

[2020-09-15 06:28] njlkj commented on #103
**involved_object_name  is a label with high cardinality**

	kubernetesWarningEventCounterVec = prometheus.NewCounterVec(prometheus.CounterOpts{
		Name: "heptio_eventrouter_warnings_total",
		Help: "Total number of warning events in the kubernetes cluster",
	}, []string{
		"involved_object_kind",
		"involved_object_name",
		"involved_object_namespace",
		"reason",
		"source",
	})

[2020-09-15 06:29] njlkj opened #119 "involved_object_name is a label with high cardinality"
kubernetesWarningEventCounterVec = prometheus.NewCounterVec(prometheus.CounterOpts{
		Name: "heptio_eventrouter_warnings_total",
		Help: "Total number of warning events in the kubernetes cluster",
	}, []string{
		"involved_object_kind",
		"involved_object_name",
		"involved_object_namespace",
		"reason",
		"source",
	})

[2020-09-15 06:48] njlkj commented on #103
#119

[2020-10-13 19:33] JoshuaC215 opened #121 "New home for helm chart?"
With helm `stable` and `incubator` being deprecated in a few weeks (see https://github.com/helm/charts/issues/21103), there won't be a canonical helm chart available any more for running eventrouter.

Anyone thinking about hosting one? I'm guessing it won't go here given the slow rate of updates in this repo.

We're considering it, but would be setting up the public chart repository from scratch (

[2020-10-14 13:18] genebean commented on #82
@vigith what did you all end up doing? Are you still using this or running a fork or running some other tool?

[2020-10-23 14:34] vigith commented on #82
We ended up using our own customized version.

[2020-10-24 16:38] genebean commented on #82
Is your version public?

[2020-10-29 19:21] vigith commented on #82
unfortunately no because we had to encrypt the payload due to our security policies before posting to Kafka.

[2020-11-02 20:20] Klohto commented on #121
Ping @gianrubio as well.
It would be good to have this resolved before the stable deprecation timeline.

I don't think we will see much of activity here and since heptio guys don't host it from the start, I doubt they will do now.

I think Bitnami could be a good middle ground. @FraPazGal would you guys be interested in hosting eventrouter? Happy to do the PR. I believe you're parters with Heptio,

[2020-11-02 20:36] Klohto commented on #121
Didn't realize they an official Contributing guide (apologies for pinging) but few steps need to be done before it can be placed in the catalog anyway https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository
Like for example that the chart needs to use Bitnami based image.

[2020-11-03 12:27] FraPazGal commented on #121
Hello @Klohto!

We would be happy to add `eventrouter` to our helm chart repository at [bitnami/charts](https://github.com/bitnami/charts), thanks for thinking about us! Regarding Heptio, we are indeed both now part of VMware and, even though we may not use this chart internally right now, we would add it to our catalog gladly!

Like it says in the guide, you would need to start by creating a PR i

[2020-11-13 11:31] Klohto commented on #121
Thanks a lot @FraPazGal! Since there is no word from the original Helm Chart maintianer, I will create a PR as soon as I have some spare time (or if anybody else would like to do it, feel free to do so).

[2020-12-18 04:01] artazar opened #122 "Eventrouter logs not entirely in JSON"
Hi,

I have not found any answer to this question, so let me try to ask explicitly.

Eventrouter logs are not entirely JSON formatted, there are extra snippets on each line start, e.g.:

    I1218 03:57:15.070052       1 glogsink.go:42] {"verb":"UPDATED","event":{"metadata":{"name":"test.163125c58efe671a","namespace":"test","selfLink":"/api/v1/namespaces/test/events/test.163125c58efe671a","uid":"c

[2020-12-23 07:38] tanujd11 opened #123 "Example Config for S3 sink"
Hey, I was looking at this project looks cool. Can I get an example of config.json for S3 as it will be very helpful. Thanks

[2020-12-23 14:19] yuripastushenko opened #124 "Eventrouter chart is deprecated in https://github.com/helm/charts"
From Nov 13, 2020 the [eventrouter chart](https://github.com/helm/charts/tree/master/stable/eventrouter) is deprecated.
Is there any alternative?
Can you please migrate to new chart version?

[2020-12-23 14:22] yuripastushenko commented on #124
We previously used next repo
[code]
The error message on install was:
[code]

Changing repo to next one solved the issue.
[code]

[2020-12-23 14:28] yuripastushenko commented on #124
Seems like this is similar to https://github.com/heptiolabs/eventrouter/issues/121.
Closing the issue.

[2020-12-23 14:28] #124 closed, assigned to nobody

[2020-12-24 02:09] alok87 commented on #123
[code]

I am using this.

[2020-12-24 09:52] tanujd11 commented on #123
@alok87 do this support authorization using instance profile or service account?

[2020-12-24 10:09] alok87 commented on #123
**Talking to s3:**
Based on this https://github.com/heptiolabs/eventrouter/blob/master/sinks/s3sink.go#L60 it requires AWS ACCESS credential to be passed into the pod (as specified above using config maps)

From what looks like it won't work by assuming node roles. Please try out and tell.

[2021-01-08 02:13] james-callahan commented on #67
I'm seeing duplicate events show up in our eventrouter sinks.

Searching around I found other people affected. e.g. https://bugzilla.redhat.com/show_bug.cgi?id=1613722

[2021-01-26 19:54] sravankasu commented on #97
[opsgenie/kubernetes-event-exporter](https://github.com/opsgenie/kubernetes-event-exporter) has a way to push events to elasticsearch.

[2021-01-26 19:54] #97 closed

[2021-02-08 20:59] ThomasVitt opened #125 "Deployment without cluster-wide permissions"
Hi folks,
I'm currently working for a customer who has no cluster-wide access to events, just to a bunch of namespaces.
This is why the event router is complaining about missing permissions:
`E0208 20:57:57.020340       1 reflector.go:125] pkg/mod/k8s.io/client-go@v12.0.0+incompatible/tools/cache/reflector.go:98: Failed to list *v1.Event: events is forbidden: User "system:serviceaccount:argocd-tes

[2021-02-17 19:39] Elettronik opened #126 "Is the project dead?"
Hello, I'm looking to use this project on some k8s but this project seems dead for about a year.

Is there any people from Heptio Labs taking care of this project?

I see a the current moment 11 PR opened during a year without a single answer from owners, and 30 issues.

Please says if the project is dead, or will be some housekeeping.

[2021-02-18 00:12] KouriR commented on #122
Try changing the sink configuration option from `glog` to `stdout`.

[2021-02-18 11:49] alok87 commented on #126
@timothysc @jbeda

[2021-02-18 11:50] alok87 commented on #126
We are using it and it works well for us in porting the logs to s3.

[2021-02-19 22:03] Ghazgkull commented on #126
The description of the heptiolabs org (https://github.com/heptiolabs) now reads:
```"Former home of experimental projects from Heptio"```

I wonder if these projects had to be abandoned when Heptio was bought by VMware.

[2021-03-10 17:01] varac commented on #126
Yes, an update on this would be good.

[2021-03-11 11:27] Elettronik commented on #126
Let me do the Devil's Advocate.

20 days - no official answers, no activities on the project.

![image](https://user-images.githubusercontent.com/1083169/110780561-1f196d80-8265-11eb-803c-d9fb64ee0d53.png)

[2021-03-11 11:36] MatteoJoliveau commented on #126
I agree this project is probably on hold, if not abandoned. Would love to hear from VMWare/former Heptio folks if they plan to pick it up or donate the project to the community, or if we should just fork it/reimplement it.

[2021-03-21 16:46] aantn commented on #126
This does indeed seem dead. I need the functionality that eventrouter provides for another project I'm working on. I'm going to be working on this fulltime for the near future. Please feel free to contact me if you need support/help.

I've decided to base my efforts on [Kubewatch](https://github.com/bitnami-labs/kubewatch/) and not EventRouter. Kubewatch is a little more maintained, but it also se

[2021-03-21 16:57] MatteoJoliveau commented on #126
@aantn that seems like great news! Thank you for being willing to keep development going at least for now. I'll try to see if we can help as well.

For us it's mainly getting Kubernetes events into something Grafana can display. Using EventRouter we were going to have Loki and Promtail scrape up the logs from stdout/stderr and then have them streamed to Grafana as JSON lines. This way developers c

[2021-03-21 17:16] aantn commented on #126
Got it. I'm working on a more generic platform for running Python code as a result of Kubernetes changes/Prometheus alerts and automating common responses. It will be open sourced eventually, but for now it is still in private beta. One easy use-case, for example, is to add annotations to grafana so that you can see exactly when a new version of an application was updated and can quickly eyeball t

[2021-03-21 17:29] MatteoJoliveau commented on #126
Correct. The reason being that, especially now with Operators, k8s Event objects are a very useful tool to track changes and issues in k8s resources. Currently we have logs, metrics and traces centrally accessible in Grafana, but if a developer wants to debug a crash loop they have to manually run `kubectl describe`. Having events stored in Loki would allow for quick querying and alerting over the

[2021-03-21 17:52] aantn commented on #126
Great, I'll update you when I have something you can use for that purpose.

[2021-03-21 18:14] MatteoJoliveau commented on #126
Looking forward to it, thanks @aantn!

[2021-03-26 11:16] antoniocascais commented on #126
Maybe this is a bit OT, but... Is it possible to add metrics to the app? For example, first thing that pops into my mind: adding metrics for probe failures.

Asking this because it would be nicer to have graphs around metrics in grafana than around logs.
But maybe this is out of scope :D

[2021-03-26 12:18] aantn commented on #126
Yeah, this is the type of thing I'm working on. Can you help me understand exactly what you would like to achieve? I think you can already get probe failure metrics from [kubelet into prometheus](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/prober_manager.go). Do you want to enrich grafana with extra info? To run some remediation or enrichment steps?

[2021-03-26 12:21] aantn commented on #126
This while conversation is a little off topic, I guess. I think the eventrouter community could benefit from another open source project that is the spiritual successor of eventrouter, but if the discussion here bothers someone then let me know and I'll take it elsewhere.

[2021-03-26 13:59] antoniocascais commented on #126
I was not aware of such metrics! Thank you very much :D

[2021-04-02 08:20] aantn commented on #69
@tomkerkhove what is your use case for this? If it's useful, I have a fork of kubewatch (another project like eventrouter) that sends kubernetes changes as cloud events.

[2021-04-02 08:25] aantn commented on #126
I'm close to releasing my open source project which supports many of the features that people want added to eventrouter. Can everyone on this thread let me know what they're actually using eventrouter for today or what they want to use it for? Are you sending events to slack for online notifications? Are you just logging changes to ELK so that you can troubleshoot when something goes wrong? What u

[2021-04-02 08:33] tomkerkhove commented on #69
Use it in other systems such as Azure Event Grid and process the events there. I started with just generic payload but will provide more user-friendly payloads.

[2021-04-04 12:27] varac commented on #126
@aantn Good to hear! I'm using eventrouter only for exporting k8s events to loki (and grafana), using promtail which tails the eventrouter container logs. So the only feature I'd be interested in is having all k8s events in the (eventrouter|your project) container logs.

[2021-04-04 13:03] aantn commented on #126
@varac do you have any interest in turning k8s events into grafana annotations? e.g. adding a dotted line to grafana whenever a deployment is updated and the image tags change? I'm using this to easily correlate upgrades w/ changes in CPU usage.

[2021-04-04 13:05] aantn commented on #126
Something like this:

![grafana-annotations](https://user-images.githubusercontent.com/494087/113509663-86be9200-955f-11eb-9a2d-213f83bb014a.png)

[2021-04-04 13:11] varac commented on #126
@aantn That looks great, sure that would be a good feature.

[2021-04-04 14:12] aantn commented on #126
Cool, I've already implemented that. I have a little more work before I release this, but it's coming along nicely. Let me know if there are more integrations you can think of which would be useful. I'm currently implementing two-way Slack integration. The typical usecase is something like this:

1. There is a prometheus alert (e.g. low disk space on a persistent volume)
2. The system sends a mesa

[2021-05-19 13:14] cordoor commented on #126
I would like to use it to stream kubernetes events into a kafka topic so my system can make decisions based on some of these events (e.g. a job is finished, so do something).

[2021-05-19 14:09] aantn commented on #126
@cordoor we can do that already. can you reach out to me privately to discuss in more detail (either aantny@gmail.com or on linkedin here: https://www.linkedin.com/in/natanyellin/)

[2021-06-03 17:52] aakarshg commented on #126
hello @aantn I'm interested in your project.. Currently what my usecase involves is to stream changes occurring to a specific set of kubernetes objects such as pods that are part of a replicaset in a particular namespace into a kafka topic..

If you've a prototype or something in the works can you please point us to that so that we can start using it and communicate feedback and hopefully submit p

[2021-06-03 20:02] aantn commented on #126
@aakarshg sure, send me an email and I'll send you the beta version.

[2021-06-07 12:38] sl4dy commented on #126
We are migrating to https://github.com/openshift/eventrouter

[2021-09-23 06:03] jainpratik163 opened #129 "How we can send events to MSK kafka or ES"
hi,
how we can send events to MSK Kafka or ES as we don't see any documentation or example.
if we have something please share it.

[2021-11-25 02:34] zswanson commented on #126
@aantn - ditto on being interested in a maintained replacement. The grafana integration for annotations sounds great.

[2021-12-27 13:22] aantn commented on #126
@zswanson sorry about the delay! We've finally released the first version! https://docs.robusta.dev/master/

@aakarshg @cordoor @varac @antoniocascais @MatteoJoliveau might be relevant for you guys too

If anyone wants to discuss, we're [on Slack](https://join.slack.com/t/robustacommunity/shared_invite/zt-10rkepc5s-FnXKvGjrBmiTkKdrgDr~wg) and happy to add features for anything you need. (Or just o

[2022-01-07 22:20] aantn commented on #129
@jainpratik163 I don't know if you're still looking for a solution, but you can send k8s events to Kafka with a different open source project I wrote: https://github.com/robusta-dev/robusta

Re. Elasticsearch, we don't support that out of the box, but if you open an issue I'm happy to find a quick solution

[2022-01-07 22:20] aantn commented on #125
@ThomasVitt still relevant?

[2022-01-08 08:16] ThomasVitt commented on #125
Yes, it is!

[2022-01-08 08:18] ThomasVitt commented on #125
Hey Natan,
no we refactored the code ourselves in order to view events from multiple namespaces.

[2022-01-08 08:18] #125 closed, assigned to nobody

[2022-01-08 08:36] aantn commented on #125
Got it, cool.

[2022-01-10 05:16] jainpratik163 commented on #129
@aantn yes still looking for a solution.
and this is issue i open for elastic search support.
please let me know if I want to open a new one.

[2022-01-10 07:12] aantn commented on #129
@jainpratik163 yes, can you open an issue for robusta? I have a few questions regarding the implementation and it would be best to discuss there

[2022-01-17 09:20] akosveres opened #130 "Panic in cache.DeletedFinalStateUnknown,"
Hi, our deployment faced the following issue.

[code]

[2022-02-22 20:22] hjet commented on #126
we've also reimplemented this as a Grafana Agent integration [here](https://github.com/grafana/agent/blob/main/docs/user/configuration/integrations/integrations-next/eventhandler-config.md) - you can run a standalone Agent that only runs this integration as a drop-in eventrouter replacement. to learn more please see the [docs](https://grafana.com/docs/grafana-cloud/kubernetes/integration-kubernete